
.App {
  text-align: -moz-center;
  height: 1250px;
  width: auto;
}
body {
  font-family: "Quicksand", sans-serif;
  weight: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}
/*background-image: linear-gradient(180deg, #5d6366 0, #415460 25%, #1f4459 50%, #003553 75%, #00264d 100%);/
text-align: center;*/




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.footer{
  color: #bf930d;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #4C8055;
  bottom: 0;
  left: 0;
  width: 100%;
}



.marca {
  align-items: center;
  margin-left: 40px;
}

.logo-image{
  width: 120px;
}
